<div class="container p-3" style="background:white">
  <div class=row>
    <div class="col-12">

      <h2>About</h2><hr />

        <p><strong>External references</strong></p>
        <p>This work is based on the <a href="https://openjscad.org/">OpenJSCAD.org (extarnal link)</a> Project.</p>

        <p><strong>Goals</strong></p>
        <p>
          The goal was to create a small online repository for adaptable 3D models that can be downloaded for 3D Printing. Users have the ability to upload 3D models in stl or jscad file format. Everyone who finds this site can adapt models and download them for personal use. Be aware of the model license which is based on <a href="https://creativecommons.org/"> creative commons (extarnal link)</a>.<br /><br />
        </p>

        <p><strong>Note</strong></p>
        <p>
          Please take note that this is a non commercial private website with the goal to develop a small site and learn programming Angular 4!
        </p>

    </div>
  </div>
</div>
