<nav class="navbar navbar-toggleable-md navbar-light fixed-top" style="background:white; box-shadow:0px 1px 5px rgba(0, 0, 0, 0.15);">
    <!-- Brand and toggle get grouped for better mobile display -->
    <button class="navbar-toggler navbar-toggler-right " type="button"
    data-toggle="collapse" data-target="#navbarContent"
    aria-controls="navbarContent" aria-expanded="false"
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">
      <img src="/assets/logo.png" alt="Dingiversum" height="40px">
    </a>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" routerLink="/home" >Home</a></li>
        <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" routerLink="/about" >About</a></li>
        <!--<li><a routerLink="/hello" routerLinkActive="active">Hello Models</a></li>-->
      </ul>

      <div class="navbar-right">
          <span *ngIf="af.auth | async">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item"[routerLinkActive]="['active']"><a class="nav-link"routerLink="/manage/newmodel">Manage</a></li>
            <li class="nav-item"[routerLinkActive]="['active']"><a class="nav-link"routerLink="/dashboard/profile">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="" (click)="logout()" title="Logout">Logout ({{userName}})</a></li>
            </ul>
          </span>
          <span *ngIf="!(af.auth | async)">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/signup">Sign up</a></li>
            </ul>
          </span>
      </div>
    </div><!-- /.navbar-collapse -->
</nav>


<div class="router-outlet" >
      <router-outlet></router-outlet>
</div>

<footer class="footer mt-4" style="">
  <hr />
  <div class="container pt-4" >
    <p *ngIf="af.auth | async">LOGGED IN</p>
    <p *ngIf="!(af.auth | async)">NOT LOGGED IN</p>
    <br />
  </div>
</footer>
