<div class="container">

  <div class="row">
    <div class="alert alert-warning w-100" *ngIf="error">{{error}}</div>
  </div>

  <!--this are the thumbnails which displays all the models that belong to the user-->
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of list" >

      <div class="card mb-4" >
        <img class="card-img-top" style="height:180px; width:auto; object-fit:cover; object-position: center" [src]="item.imageURL" alt="no Image">
        <div class="card-block">
          <h5 class ="card-title" style="white-space:nowrap;overflow:hidden; text-overflow: ellipsis">{{item.name}}</h5>
          <p class="card-text"><small class="text-muted">{{item.power}}</small></p>

          <button class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal"
            (click)="openItem(item.$key)">Open</button>

          <button class="btn btn-link float-right">
            <i class="fa fa-heart" aria-hidden="true"></i> {{item.like}}
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
