<div class="container" >
  <div class="alert alert-danger alert-dismissible" *ngIf="error">{{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>

  <div class=row>
    <div class="col-12">
      <h5>Account settings</h5>
      <hr />
    </div>
  </div>

  <div class="row">


    <div class="col-12 col-sm-12 col-md-12 col-md-offset-0 col-lg-8">

      <form  #userData="ngForm">
        <div class="form-group">
          <label for ="name">Name</label>
          <div class="input-group">
            <input class ="form-control" id ="name" type="text" name="displayName" (ngModel)="displayName" required>
            <span class="input-group-btn">
              <button type="button" class="btn btn-secondary" (click)="changeUser(userData)" [disabled]="!userData.valid">Save</button>
            </span>
          </div>
        </div>
      </form>

      <form #emailData='ngForm'>
        <div class="form-group">
          <label for ="email">Email</label>
          <div class="input-group">
            <input class=" form-control" type="email" name="email" id ="email" (ngModel)="email" required placeholder="example@example.com">
            <span class="input-group-btn">
              <button type="button" class="btn btn-secondary" (click)="changeEmail(emailData)" [disabled]="!emailData.valid">Save</button>
            </span>
          </div>
        </div>
      </form>

      <form #passwordData='ngForm'>
        <div class="form-group">
          <label for ="password">Password</label>
          <div class="input-group">
            <input class=" form-control" type="password" name="newpassword" id="password" (ngModel)="newpassword" required>
            <span class="input-group-btn">
              <button type="button" (click)="changePassword(passwordData)" class="btn btn-secondary" [disabled]="!passwordData.valid">Save</button>
            </span>
          </div>
        </div>
      </form>

    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-4">

      <img  class="rounded"style="height:250px; width:250px; object-fit:cover; object-position: center" [src]="photoURL" accepts="image/*"/>
      <br /><br />
      <div class="form-group">
        <label class="custom-file " style="width:250px">
          <input type="file" id="file" class="custom-file-input" (change)="fileImageChangeEvent($event)" required >
          <span class="custom-file-control" >{{imageFile.name}}</span>
        </label>
      </div>
    </div>
  </div>
</div>
