<div class="container" >
  <div class="alert alert-danger alert-dismissible" *ngIf="error">{{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>

  <div class=row>
    <div class="col-12">
      <h5>Public profile</h5>
      <hr />
    </div>
  </div>


  <div class="row" >

    <div class="col-12 offset-lg-2 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <form  #userData="ngForm">
        <div class="form-group row" >
          <label for ="name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10 input-group">
              <input class ="form-control " id ="name" type="text" name="displayName" [(ngModel)]="userModel.name" required>
          </div>
        </div>

        <div class="form-group row">
          <label for ="country" class="col-sm-2 col-form-label">Country</label>
          <div class=" col-sm-10 input-group">
            <input class=" form-control f" type="text" name="country" id ="country" [(ngModel)]="userModel.country"  required >
          </div>
        </div>

        <div class="form-group row">
          <label for ="bio" class="col-sm-2 col-form-label">Bio</label>
          <div class=" col-sm-10 input-group">
            <textarea class=" form-control" type="text" name="bio" id ="bio" [(ngModel)]="userModel.bio"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button type="button" class="btn btn-secondary" (click)="changeUser(userData)" [disabled]="!userData.valid">Save</button>
          </div>
        </div>

        <div class="form-group row">
          <label for ="image" class="col-sm-2 col-form-label">Image</label>
          <div class=" col-sm-10 input-group">
            <img  class="rounded" style="height:200px; width:200px; object-fit:cover; object-position: center" [src]="userModel.photoURL" accepts="image/*"/>
          </div>
        </div>

        <div class="form-group row ">
          <div class="offset-sm-2  col-sm-10 input-group">
              <div class="form-group mb-0">
                <label class="btn btn-secondary btn-file" style ="width:100px">Browse
                  <input type="file" id="file" style="display: none" (change)="fileImageChangeEvent($event)" required >
                </label>
            </div>
          </div>
        </div>

      </form>
    </div>
</div>

<br />
<div class=row>
  <div class="col-12">
    <h5>Account</h5>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-12 offset-lg-2 col-sm-12 col-md-12 col-lg-8 col-xl-8">
    <form  #accountData="ngForm">
      <div class="form-group row">
        <label for ="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10 input-group">
          <input class ="form-control" id ="name" type="text" name="accountName" (ngModel)="accountName" required>
          <button type="button" class="btn btn-link" (click)="changeAccountName(accountData)" [disabled]="!accountData.valid">Save</button>
        </div>
      </div>
    </form>

      <form #passwordData='ngForm'>
        <div class="form-group row">
          <label for ="password" class="col-sm-2 col-form-label">Password</label>
          <div class=" col-sm-10 input-group">
            <input class=" form-control" type="password" name="newpassword" id="password" (ngModel)="newpassword" required>
            <button type="button" (click)="changePassword(passwordData)" class="btn btn-link" [disabled]="!passwordData.valid">Save</button>
          </div>
        </div>
      </form>

      <form #emailData='ngForm'>
        <div class="form-group row">
          <label for ="email" class="col-sm-2 col-form-label">Email</label>
          <div class=" col-sm-10 input-group">
            <input class=" form-control" type="email" name="email" id ="email" (ngModel)="email" required placeholder="example@example.com">
            <button type="button" class="btn btn-link" (click)="changeEmail(emailData)" [disabled]="!emailData.valid">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
