<div class="container" >

  <div class="row">
    <div class="col-12">
      <h5>Public profile</h5>
      <hr>
    </div>
  </div>

  <div *ngIf="!userData" class="row alert alert-warning">No Data available</div>

  <div class="row" *ngIf="userData">
    <div class="col-md-5 col-lg-4 col-sm-12">
      <img class="" style="height:250px;width:250px; object-fit:cover; object-position: center" [src]="userData.auth.photoURL">
    </div>
    <div class="col-md-7 col-sm-12">
      <h1>{{ userData.auth.displayName }}</h1>
      <h5>{{ userData.auth.email }}</h5>
      <h4><span *ngIf="userData.auth.emailVerified===false" class="badge badge-danger">not verified</span></h4>
    </div>
  </div>
</div>
