.jumbotron{

  background: #0275d8!important;

  color:white;
}

.card:focus, .card:hover {
 box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
 -webkit-transition: .25s all;
 transition: .25s all;
}

.card-img-top:hover {
  cursor:pointer;
}
